.sidebar {
	position: fixed;
	top:0;
	left:0;
	width:25%;
	height:100%;
	background-color:$orange;

	h1 {
		color:$lightgrey;
		text-align: center;
		text-shadow:3px 3px rgba(0,0,0,0.3);
		margin-top: 1.5rem;
	}
	p {
		color:$silver;
	}
}